:root {
  letter-spacing: 0.05rem;
}

body {
  margin: 0;
  overflow-x: hidden
}

.main-wrap {
  box-sizing: border-box;
  position: relative;
}

.social-icons {
  display: flex;
  padding: 20px;
  gap: 0.7rem;
}

.title {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  z-index: 10
}

.square {
  display: flex;
  border: solid;
  height: 500px;
  width: 555px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px;
  border-radius: 40px;
  color: rgba(123, 145, 180, 0.433);
  z-index: -10
}

.square1 {
  display: flex;
  border: solid;
  height: 355px;
  width: 600px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px;
  border-radius: 40px;
  color: rgb(3, 76, 187)
}



.form-wrap {
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 25px;
  background: white;
  z-index: 10
}

.word-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid;
  border-color: rgb(211, 211, 211);
  height: 40px;
  width: 350px;
  border-radius: 40px;
}

.input {
  display: flex;
  border: none;
  height: 92%;
  width: 95%;
  border-radius: 40px;
  padding-left: 10px;
  letter-spacing: 0.07rem;
}

.btn {
  height: 100%;
  border: none;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.btn:hover {
  cursor: pointer;
}

.search {
  height: 20px;
  width: 20px;
}

.btn:active {
  scale: 0.9;
}

.word-wrap {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

.word-wrap p {
  font-size: larger;
  margin-top: -10px;
}
.word-heading {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}

.word-heading h2 {
  display: flex;
  font-size: medium;
  padding-bottom: 14px;
  color: rgb(3, 76, 187);
}

.results-wrap {
  display: flex;

  margin-left: 15vw;
  margin-right: 15vw;
}

.results {
  display: flex;
  flex-direction: column;
}

.definitions {
  display: flex;
  flex-direction: column;
  width: 35vw;
  padding-left: 47px;
  margin-bottom: 100px;
  overflow: hidden;
}

.synonym-wrap {
  display: flex;
  flex-direction: column;
  
  justify-content: flex-start;
  padding-top: 19px;
  align-items: center;
  width: 45vw;
  padding-left: 90px;
}

@media screen and (max-width: 1127px) {
  .results-wrap {
    flex-direction: column;
  }

  .definitions {
    width: 45vw;
  }
}
